<div class="header__user">
    <div class="header__user-actions">
        <a href="#" class="header__user-login">Login</a>
        <a href="#" class="header__user-join">JOIN US </a>
        <div class="header__user-icon">&#128100;</i></div>
    </div>      
</div>

